<div class='horizontally-align'>
  {{page.content}}
</div>

{{#if page.destinations}}
  <div class='u__sp__2'></div>

  <div class='box column o__right-align'>
    {{#each sortedDestinations as |destination|}}
      
      <div class='u__sp__1'></div>

      <div class='button destination' {{action 'loadNextPage' destination.id}}>
        {{destination.option}}
      </div>
    {{/each}}
  </div>
{{/if}}