<div class='box column u__mt__10 u__mb__10'>
  <div class='horizontally-align'>
    <div class='button positive u__mr__10' {{action 'addPage'}}>
      Add page
    </div>
  </div>
</div>

{{#each pages as |page|}}
  <div {{action 'selectPage' page.id bubbles=false}}>
    {{page-item classNames='card page-creator__page-item' page=page removePage=(action 'removePage')}}
  </div>
{{/each}}