{{#link-to 'stories.story' id}}
  <div class='box column card'>
    <div class='story-title__first-letter__card horizontally-align'>
      {{titleFirstLetter}}
    </div>
    <div class='horizontally-align'>
      {{title}} by Deny Chen
    </div>
  </div>
{{/link-to}}