{{#link-to 'stories.story' storyId}}
  <div class='box row card'>
    <div class='story__hero'>
      {{titleFirstLetter}}
    </div>
    <div class='box column story__details'>
      <div class='story__title'>
        {{title}}
      </div>
      {{#if authors}}
        <div class='story__author'>
          by {{authors}}
        </div>
      {{/if}}

      <div class='u__sp__1'></div>

      <div class='story__description'>
      {{description}}
      </div>
    </div>
  </div>
{{/link-to}}