{{#link-to 'stories.story' storyId}}
  <div class='box row card'>
    <div class='story__hero'>
      {{titleFirstLetter}}
    </div>
    <div class='box column story__details'>
      <div class='story__title'>
        {{title}}
      </div>      
      <div class='story__author'>
        Deny Chen
      </div>

      <div class='u__mt__10'></div>

      <div class='story__description'>
      {{description}}
      </div>
    </div>
  </div>
{{/link-to}}