<div class='box column o__right-align'>
  <div {{action 'closeMenu'}}>
    {{link-to 'Create story' 'stories.create'}}
  </div>
  
  <div class='u__sp__2'></div>

  <a href='/' {{action 'signout'}}>Sign out</a>
</div>