<div class='box column'>
  <div class='latest-stories__header horizontally-align'>
    Latest Stories
  </div>
  <div class='box row'>
    {{#each sortedStories as |story|}}
      <div class='story__card horizontally-align'>
        {{story-card id=story.id title=story.title}}
      </div>
    {{/each}}
  </div>
</div>