<div class='box column'>
  <div class='latest-stories__header u__ml__20'>
    <div class='u__sp__2'></div>

    Latest Stories

    <div class='u__sp__2'></div>
  </div>
  <div class='box row'>
    {{#each sortedStories as |story|}}
      {{#if story.published}}
        {{story-card story=story}}
      {{/if}}
    {{/each}}
  </div>
</div>