<div class='box'>
  <div class='horizontally-align'>
    <div class='u__sp__2'></div>
    
    <div class='latest-stories__header u__ml__20'>
      Latest Stories
    </div>
    <div class='box row horizontally-align'>
      <div class='box column'>
        {{#each paginatedStories as |storyLine|}}
          <div class='box row'>
            {{#each storyLine as |story index|}}
              {{#if story.published}}
                {{story-card story=story}}
              {{/if}}
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>

    {{#if (gt paginatedStories.length 0)}}
      {{#if noMoreStories}}
        <div class='story__no-more u__mt__20'>
          No more stories
        </div>
      {{else}}
        <div class='story__show-more u__mt__20' {{action 'showMoreStories' sortedStories}}>
          Show more
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>