<div class='box'>
  <div class='horizontally-align'>
    <div class='u__sp__2'></div>
    
    <div class='latest-stories__header u__ml__20'>
      Latest Stories
    </div>
    <div class='box row horizontally-align'>
      <div class='box column'>
        {{#each paginatedStories as |storyLine|}}
          <div class='box row'>
            {{#each storyLine as |story index|}}
              {{#if story.published}}
                {{story-card story=story}}
              {{/if}}
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
    <div class='u__sp__2'></div>

    <a class='story__show-more' {{action 'showMoreStories' sortedStories.lastObject}}>
      Show more
    </a>
  </div>
</div>