<div class='box column'>
  <div class='latest-stories__header horizontally-align'>
    <div class='u__sp__1'></div>

    Latest Stories

    <div class='u__sp__1'></div>
    
  </div>
  <div class='box column'>
    {{#each sortedStories as |story|}}
      <div class='u__mt__10'></div>
        {{story-card story=story}}
    {{/each}}
  </div>
</div>