<div class='box column card horizontally-align'>
  
  <div class='u__sp__7'></div>

  {{#unless page}}
    {{title-page story=story loadNextPage=(action 'loadNextPage')}}
  {{else}}
    {{content-page page=page loadNextPage=(action 'loadNextPage')}}
  {{/unless}}

  <div class='u__sp__7'></div>

</div>