<div class='u__sp__5'></div>

<div class='box column card horizontally-align {{unless page 'o__title' 'o__content'}}'>
  {{#unless page}}
    {{title-page story=story loadNextPage=(action 'loadNextPage')}}
  {{else}}
    {{content-page page=page loadNextPage=(action 'loadNextPage')}}
  {{/unless}}
</div>