.button {
  border-radius: 3px;
  box-shadow: 0px 5px 5px 0px rgba(186,186,186,1);
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 10px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(186,186,186,1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(186,186,186,1);
}

.button.positive {
  background-color: #4cce4c;
}

.button.negative {
  background-color: #ff5e5e;
}

.button.edit {
  background-color: #5dbcd2;
}

.button.destination {
  background-color: #5dbcd2;
}

.button.o__disabled {
  opacity: 0.5;
}

.button.o__no-text {
  height: 16px;
  width: 14px;
}

.ember-password-toggle-btn {
  border: 1px solid #9c9c9c;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 15%;
}

.ember-password-toggle-btn:focus {
  border-color: none !important;
  box-shadow: none !important;
  outline: none !important;
}