.page-creator {
  width: 100%;
}

.page-creator__list {
  padding: 0px;
  width: 200px;
}

.page-creator__editor {
  margin-right: 10px;
  width: 100%;
}

.page-creator__left-column {
  height: 100%;
}

.page-creator__story-buttons {
  margin: 10px 30px 10px 10px;
}

.page-creator__breadcrumbs {
  color: #5dbcd2;
  flex-wrap: wrap;
  font-size: 20px;
  margin-left: 210px;
  margin-right: 10px;
}

.page-creator__breadcrumbs .o__page__name {
  cursor: pointer;
}

.page-creator__breadcrumbs .o__arrow {
  color: #9c9c9c;
}

.o__story-title {
  font-size: 36px;
  margin: 10px;
}

.o__story-premise {
  font-size: 16px;
  margin: 0px 10px 10px 10px;
}

.page-creator__unstyled-input {
  background-color: #fcfcfc;
  border: none;
  width: 100%;
}

.page-creator__unstyled-input:focus {
  outline: none;
  border-bottom: thin dotted black;
}

.page-creator__unstyled-input:hover {
  border-bottom: thin dotted black;
}

.page-creator__page-item {
  border-top: thin dotted;
  cursor: pointer;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  width: inherit;
}

.o__first-page-item {
  border-top: none;
}

.o__active-page {
  background-color: #f0f0f0;
}

.page-creator__page-item__add-page {
  border-bottom: thin solid;
}

.page-creator__page-editor {
  box-sizing: border-box;
  margin-right: 10px;
  width: 100%;
}

.o__page-title__input {
  border-bottom: thin dotted #fcfcfc;
  font-size: 24px;
  margin-top: 10px;
}

.o__page-content__input {
  border-bottom: none !important;
  font-size: 16px;
  resize: none;
}

.page-creator__path__editor {
  position: absolute;
  transform: translate(-30px, -120px);
  width: 160px;
  z-index: 3;
}

.o__path-name__editor {
  font-size: 16px;
  height: 34px !important;
  width: 250px;
}

.o__list__first-page {
  border-left: thick solid #5dbcd2;
}

.o__list__not-first-page {
  padding-left: 15px;
}

.page-creator__delete-story__button {
  text-align: center;
  width: 100%;
}

.page-creator__edit-story__button {
  text-align: center;
  width: 100%;
}

.page-creator__page-title-input__wrapper {
  padding-right: 10px;
}

.page-create__page-list__page-name {
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}