main {
  flex: 1;
}

.box {
  display: flex;
}

.box.row {
  flex-direction: row;
}

.box.column {
  flex-direction: column;
}

.box.spaced {
  justify-content: space-between;
}

.box.column.o__right-align {
  align-items: flex-end;
}

.box.column.o__vertical-align {
  justify-content: center;
}

.horizontally-align {
  margin: 0 auto;
}