$ember-power-select-border-color: #9c9c9c;
$ember-power-select-default-border-radius: 2px;
$ember-power-select-dropdown-box-shadow: 0 0 3px 0px #5dbcd2;
$ember-power-select-focus-border-color: #5dbcd2;
$ember-power-select-focus-box-shadow: 0 0 3px 0px #5dbcd2;
$ember-power-select-line-height: 30px;
$ember-power-select-multiple-selection-background-color: #5dbcd2;
$ember-power-select-placeholder-color: #9c9c9c;
$ember-power-select-selected-background: #5dbcd2;
$ember-power-select-trigger-ltr-padding: 2px 16px 0px 5px;

@import "ember-power-select";

.destination_selector {
  font-size: 16px;
  white-space: nowrap;
  width: 170px;
}

.destination_selector:hover {
  cursor: pointer;
}

.ember-power-select-multiple-trigger:hover {
  cursor: text;
}

.ember-power-select-status-icon:hover {
  cursor: pointer;
}

.ember-power-select-search-input {
  border: none;
  box-shadow: none;
  outline: none;
}

.ember-power-select-search-input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.ember-power-select-trigger:focus {
  border: 1px solid #5dbcd2;
  outline: none;
}