.latest-stories__header {
  font-size: 36px;
  margin-bottom: 15px;
}

.story__create__title {
  font-size: 36px;
  margin-bottom: 15px;
}

.story__create__form {
  margin: 15px 25px;
}

.story__create__form input {
  font-size: 15px;
  width: 100%;
}

.story__hero {
  font-family: 'Roboto Mono', monospace !important;
  font-size: 150px;
  margin-right: 36px;
}

.story__details {
  margin: 42px 0px;
}

.story__title {
  font-size: 32px;
}

.story__author {
  color: #c0c0c0;
}

.story__my-stories {
  height: 100px;
}

.story__date {
  color: #c0c0c0;
}