.latest-stories__header {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.story__card a {
  color: #000000;
  text-decoration: none;
}

.story-card__hero {
  font-size: 150px;
  margin-right: 36px;
}

.story-card__details {
  margin: 30px 0px;
}

.story-card__details .o__title {
  font-size: 32px;
}

.story-card__details .o__author {
  color: #c0c0c0;
}

.story-card__details .o__description {
  
}