.latest-stories__header {
  font-size: 36px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.story__hero {
  font-family: 'Roboto Mono', monospace;
  font-size: 150px;
  margin-right: 36px;
}

.story__details {
  margin: 42px 0px;
}

.story__title {
  font-size: 32px;
}

.story__author {
  color: #c0c0c0;
}

.story__description {
  
}