@import 'buttons';
@import 'cards';
@import 'positioning';
@import 'signup';
@import 'stories';
@import 'utilities';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0px;
  overflow: auto;
}

body > .ember-view {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.toolbar {
  background: #fcfcfc;
  height: 50px;
  padding: 10px;
  position: absolute;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(186,186,186,1);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(186,186,186,1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(186,186,186,1);
}

.toolbar a {
  color: #5dbcd2;
  text-decoration: none;
}

.toolbar__logo {
  height: 48px;
  width: 48px;
}

.toolbar__name {
  width: 100%;
}

.toolbar__signup {
  color: #5dbcd2;
  width: 10%;
}

.background {
  background-color: #f0f0f0;
  flex: 1 1 auto;
  padding: 75px 10px 15px 10px;
}