@import 'buttons';
@import 'cards';
@import 'creation';
@import 'page-creator';
@import 'positioning';
@import 'selectors';
@import 'settings';
@import 'signup-signin';
@import 'stories';
@import 'utilities';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0px;
}

body > .ember-view {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.toolbar {
  background: #fcfcfc;
  height: 50px;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1999999999;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(186,186,186,1);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(186,186,186,1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(186,186,186,1);
}

.toolbar a {
  color: #5dbcd2;
  text-decoration: none;
}

.toolbar__logo {
  height: 48px;
  width: 48px;
}

.toolbar__items {
  color: #5dbcd2;
  margin-right: 30px;
}

.background {
  background-color: #f0f0f0;
  flex: 1 1 auto;
  padding: 75px 10px 15px 10px;
}

.user-dropdown__wrapper {
  position: relative;
}

.user-dropdown__menu {
  background-color: #fcfcfc;
  border-radius: 0px 0px 3px 3px;
  padding: 5px 20px 15px 15px;
  position: absolute;
  right: -20px;
  top: 60px;
  white-space: nowrap;
  box-shadow: 0px 5px 5px 0px rgba(186,186,186,1);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(186,186,186,1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(186,186,186,1);
}

input {
  font-family: 'Roboto', sans-serif !important;
}

input:not(.ember-power-select-trigger-multiple-input):not(.ember-power-select-search-input):not(.page-creator__unstyled-input) {
  border: 1px solid #9c9c9c;
  border-radius: 2px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

input:focus:not(.ember-power-select-trigger-multiple-input):not(.ember-power-select-search-input):not(.page-creator__unstyled-input) {
  border-color: #5dbcd2;
  box-shadow: 0 0 3px 0px #5dbcd2;
  outline: none !important;
}

textarea {
  font-family: 'Roboto', sans-serif !important;
}

textarea:not(.page-creator) {
  border: 1px solid #9c9c9c;
  border-radius: 2px;
}

textarea:focus:not(.page-creator) {
  border-color: #5dbcd2;
  box-shadow: 0 0 3px 0px #5dbcd2;
  outline: none !important;
}