<div class='u__sp__5'></div>

<div class='box row'>
  <div>
      {{page-list pages=pages}}
  </div>
  <div class='box column'>
    <div>
      {{story.title}}
    </div>
    <div>
      {{content-editor}}
    </div>
    <div>
      {{option-editor}}
    </div>
  </div>
</div>