<div class='u__sp__5'></div>

<div class='box column card horizontally-align'>
  <div class='u__sp__4'></div>

  <div class='horizontally-align'>
    Reset password
  </div>

  <div class='signup-signin__form'>
    Email
    {{input classNames='horizontally-align'
      classNameBindings='missingEmail:u__error-borders' 
      autofocus=true 
      value=email 
      enter='resetPassword' 
      placeholder=(if missingEmail 'Required')
    }}
  </div>
  
  <div class='u__sp__2'></div>
  
  <div class='button positive horizontally-align' {{action 'resetPassword'}}>
    Send instructions
  </div>

  {{#if emailSent}}
    <div class='u__sp__3'></div>

    <div class='horizontally-align'>
      Check your email for instructions on resetting your password
    </div>
  {{/if}}

  <div class='u__sp__3'></div>
</div>