<div>
  <div>
    {{pages.content}}
  </div>

  {{#each sortedDestinations as |destination index|}}
    <div>
      {{#link-to 'pages' destination.id}}
        {{destination.option}}
      {{/link-to}}
    </div>
  {{/each}}
</div>