<div class='u__sp__5'></div>

<div class='box column card horizontally-align'>
  <div class='u__sp__4'></div>

  <div class='horizontally-align'>
    Reset password
  </div>

  <div class='signup-signin__form'>
    <div class='u__sp__2'></div>

    <div>
      <div>
        New password
      </div>
      <div class='horizontally-align'>
        {{input type='password' value=password
          classNameBindings='missingPassword:u__error-borders mismatchPasswords:u__error-borders'
          enter='resetPassword'
          placeholder=(if missingPassword 'Required')
        }}
      </div>
    </div>

    <div class='u__sp__2'></div>

    <div>
      <div>
        Verify password
      </div>
      <div class='horizontally-align'>
        {{input type='password' value=verifyPassword
          classNameBindings='missingVerifyPassword:u__error-borders mismatchPasswords:u__error-borders'
          enter='resetPassword'
          placeholder=(if missingVerifyPassword 'Required')
        }}
      </div>
    </div>
  </div>
  
  <div class='u__sp__2'></div>
  
  <div class='button positive horizontally-align' {{action 'resetPassword'}}>
    Reset password
  </div>

  {{#if errorMessage}}
    <div class='u__sp__3'></div>

    <div class='horizontally-align u__error-text'>
      {{errorMessage}}
    </div>
  {{/if}}

  <div class='u__sp__3'></div>
</div>