<div class='u__sp__5'></div>

<div class='box column card horizontally-align'>
  <div class='u__sp__4'></div>

  <div class='signup__title horizontally-align'>
    Get started with CYOA
  </div>

  <div class='signup__form'>
    <div>
      <div>
        Email
      </div>
      <div>
        {{input classNames='horizontally-align' classNameBindings='missingEmail:u__error-borders' autofocus=true value=email enter='signup' placeholder=(if missingEmail 'Required')}}
      </div>
    </div>

    <div class='u__sp__2'></div>

    <div>
      <div>
        Username
      </div>
      <div>
        {{input classNames='horizontally-align' classNameBindings='missingUsername:u__error-borders' value=username enter='signup' placeholder=(if missingUsername 'Required')}}
      </div>
    </div>

    <div class='u__sp__2'></div>

    <div>
      <div>
        Password
      </div>
      <div>
        {{input type='password' classNames='horizontally-align' classNameBindings='missingPassword:u__error-borders' value=password enter='signup' placeholder=(if missingPassword 'Required')}}
      </div>
    </div>
  </div>
  
  <div class='u__sp__2'></div>
  
  <div class='button positive horizontally-align' {{action 'signup'}}>
    Sign Up
  </div>

  <div class='u__sp__5'></div>
</div>