<div class='u__sp__5'></div>

<div class='box column card horizontally-align o__signup'>
  <div class='u__sp__1'></div>

  <div class='signup__title horizontally-align'>
    Sign in to CYOA
  </div>

  <div class='signup__form'>
    <div>
      <div>
        Email
      </div>
      <div>
        {{input classNames='horizontally-align' autofocus=true value=email}}
      </div>
    </div>

    <div class='u__sp__2'></div>

    <div>
      <div>
        Password
      </div>
      <div>
        {{input type='password' classNames='horizontally-align' value=password}}
      </div>
    </div>

  </div>
  
  <div class='u__sp__2'></div>
  
  <div class='horizontally-align'>
    <span class='button cta u__mr__15' {{action 'signin'}}>
      Sign In
    </span>
    <span>
      {{link-to 'or create an account' 'signup'}}
    </span>
  </div>
</div>