<div class='u__sp__5'></div>

<div class='box column card horizontally-align'>
  <div class='u__sp__4'></div>

  <div class='signup__title horizontally-align'>
    Sign in to CYOA
  </div>

  <div class='signup__form'>
    <div>
      <div>
        Email
      </div>
      <div>
        {{input classNames='horizontally-align' classNameBindings='missingEmail:u__error-borders' autofocus=true value=email enter='signin' placeholder=(if missingEmail 'Required')}}
      </div>
    </div>

    <div class='u__sp__2'></div>

    <div>
      <div>
        Password
      </div>
      <div>
        {{input type='password' classNames='horizontally-align' classNameBindings='missingEmail:u__error-borders' value=password enter='signin' placeholder=(if missingEmail 'Required')}}
      </div>
    </div>

  </div>
  
  <div class='u__sp__2'></div>
  
  <div class='horizontally-align'>
    <span class='button positive u__mr__15' {{action 'signin'}}>
      Sign In
    </span>
    <span>
      {{link-to 'or create an account' 'signup'}}
    </span>
  </div>

  <div class='u__sp__5'></div>
</div>