<div class='u__sp__5'></div>

<div class='box column card horizontally-align o__signup'>
  <div class='u__sp__1'></div>

  <div class='signup__title horizontally-align'>
    Get started with CYOA
  </div>

  <div class='signup__form'>
    <div>
      <div>
        Email
      </div>
      <div>
        {{input classNames='horizontally-align' autofocus=true value=email enter='signup'}}
      </div>
    </div>

    <div class='u__sp__2'></div>

    <div>
      <div>
        Password
      </div>
      <div>
        {{input type='password' classNames='horizontally-align' value=password enter='signup'}}
      </div>
    </div>

    <div class='u__sp__2'></div>

    <div>
      <div>
        Username
      </div>
      <div>
        {{input classNames='horizontally-align' value=username enter='signup'}}
      </div>
    </div>
  </div>
  
  <div class='u__sp__2'></div>
  
  <div class='button cta horizontally-align' {{action 'signup'}}>
    Sign Up
  </div>
</div>