{{#each model as |story|}}
  <div>
    Title: 
    {{#if story.firstPageId}}
      {{#link-to 'pages' story.firstPageId}}
        {{story.title}}
      {{/link-to}}
    {{else}}
      {{story.title}} - Coming soon
    {{/if}}
  </div>
{{/each}}